 <html>
 <head>  
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
</head>

  <body>
    <nav class="navbar navbar-custom">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" routerLink="/"><img src="https://i.imgur.com/xLKFaOH.png" width="100" height="40"/></a>
          </div> 
          <ul class="nav navbar-nav navbar-right"><li id="admin"><a routerLink="/admin"><span class="glyphicon glyphicon-user"></span>&nbsp;회원관리</a></li></ul>
          <ul class="nav navbar-nav navbar-right"><li id="qna"><a routerLink="/qna"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;QnA관리</a></li></ul>
          <ul class="nav navbar-nav navbar-right"><li id="event"><a routerLink="/event"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Event관리</a></li></ul>
          <ul class="nav navbar-nav navbar-right"><li id="benchinfo"><a routerLink="/benchinfo"><span class="glyphicon glyphicon-tree-deciduous"></span>&nbsp;벤치정보관리</a></li></ul>
          <!-- <ul class="nav navbar-nav navbar-right"><li id="boardinfo"><a routerLink="/boardinfo"><span class="glyphicon glyphicon-stats"></span>&nbsp;벤치통계관리</a></li></ul> -->
          <ul class="nav navbar-nav navbar-right"><li id="logout"><button type="submit" class="btn btn-primary" (click)="onclick()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</button></li></ul> 
        <ul class="nav navbar-nav navbar-right"><li id="login"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Login</a></li></ul>  
        </div>
       </nav>
</body>
      
<router-outlet></router-outlet>

<footer class="section footer-classic context-dark bg-image" style="background:  #6b5545 ;">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><a class="brand"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
            <p>Guide Bench의 관리자 전용 웹페이지입니다.</p>
            <!-- Rights-->
            <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>GuideBench</span><span>. </span><span>All Rights Reserved.</span></p>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Contacts</h5>
          <dl class="contact-list">
            <dt>Address:</dt>
            <dd>Hansung University</dd>
          </dl>
          <dl class="contact-list">
            <dt>email:</dt>
            <dd>jung970619@gmail.com</dd>
          </dl>
          <dl class="contact-list">
            <dt>phones:</dt>
            <dd>010-9366-3121</dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <h5>Members</h5>
          <ul class="nav-list">
            <li>IT응용시스템공학과 1694029 이민정</li>
            <li>IT응용시스템공학과 1694030 이소희</li>
            <li>IT응용시스템공학과 1694036 이진솔</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
</html>