<!-- <p>
  {{name}}
  <br>
  {{questiontitle}}
  <br>
  {{questionContent}}
  <br>
  {{answerContent}} -->
  <br>
  <br>
<div class="container">    
    <h2>"{{name}}"님의 질문</h2>    
    <br>       
    <table class="table table-bordered">          
      <tbody>          
       <tr>   
          <th>TITLE</th>
          <td>{{questiontitle}}</td>
        </tr> 
        <tr>
          <th>CONTENT</th>
          <td>{{questionContent}}</td>  
        </tr>   
        <tr>
            <th>ANSWER</th>
            <td>{{answerContent}}</td>          
        </tr>
      </tbody>      
     </table>     
  </div>   
  <br>
  <br>
  <body id="eventcheck" align="center">
    <div class="container">
      <div class="eventcheck">
        <br>
  <form  f="ngForm" (submit)="answer($event)">
    <div class="form-group">
    <h5>답변</h5>
         <textarea  id="answer_content" placeholder="답변" class="form-control" rows="10"></textarea>
    </div> 
    <br>
   <button type="submit" class="btn btn-primary" >등록</button>
    </form>
  </div></div>
  </body> 
