<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<html>
  <head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
  </head>


<body id="benchcheck" align="center">
  <div class="container">
    <div class="benchcheck">
      <h2>새로운 Bench 등록</h2>
      <br>
<form  f="ngForm" (submit)="benchcheck($event)">
  <div class="form-group">
      <h5>이름</h5><input type="text" id="name" placeholder="benchname" class="form-control">
  </div>
  <br>
  <div class="form-group">
   <h5>경도</h5> <input type="text" id="longitude" placeholder="경도" class="form-control">
  </div> 
  <br>
  <div class="form-group">
    <h5>위도</h5> <input type="text" id="latitude" placeholder="위도" class="form-control">
   </div> 
   <br>
   <div class="form-group">
    <h5>주소</h5> <input type="text" id="address" placeholder="주소" class="form-control">
   </div> 
   <br>
  <button type="submit" class="btn btn-primary" >등록</button>

</form>
</div></div>
</body> 
</html>