/* body#eventcheck{ background-image:url("https://i.imgur.com/2EyLJfG.png"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;} */

.eventcheck  .btn.btn-primary {
    background: #FFFFFF none repeat scroll 0 0;
    border-color: #6b5545;
    color: #6b5545;
    font-size: 14px;
    width: 70px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    float: right;
  }
  html,body{
    height: 550px;
    background-color: #FFFFFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }