html,body{
    height: 550px;
    background-color: #FFFFFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  img{
      width: 100%;
      height:520px;
  }
